{% extends 'management/admindesign.html' %}
{% block adminblock %}
{% load static %}

<style>
     .viewrequest{
    position: absolute;
    top:10px;
    margin-left:50px;
    padding:26px;
    width:900px;
    height: 400px;
    overflow:auto;
}

.viewrequest table{
    width:60em;
    text-align:center;
    //border-collapse:collapse;
    border-spacing:1px;
    background:white;
}

.viewrequest table tr th{
    color:white;
}
.viewrequest table tr th{
background:rgb(1, 176, 135);
padding:10px;
}
.viewrequest table tr td{
background:rgb(109,163,148,0.5);
padding:10px;
}
.viewrequest table tr:hover td{
background:rgba(237, 236, 234);
}
</style>
<div class="viewrequest">
<table align="right">
    <tr>
        <th>PASSENGER NAME</th>
        <th>PASSEENGER DETAILS</th>
        <th>COUNTRY NAME</th>
        <th>DEPARTURE</th>
        <th>AIRLINE NAME</th>
        <th>FEED BACK</th>
        <th>ANALYSIS</th>
    </tr>
    {% for d in objects %}
    <tr style="color:red">
        <td>{{d.passid.userid}}</td>
        <td>{{d.passid.passenger}}</td>
        <td>{{d.passid.country}}</td>
        <td>{{d.manaid.departure}}</td>
        <td>{{d.manaid.airline}}</td>
        <td>{{d.feedback}}</td>
        <td>{{d.analysis}}</td>


    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}