{% extends 'passenger/design.html' %}
{% block userblock %}
{% load static %}
<style>
    .registeralign{
    position: absolute;
    top:70px;
    left:20px;
    padding:5px;
    width:500px;
}

.registeralign table{
    width:50em;
    text-align:center;

    border-spacing:15px;
    background:rgba(0,0,0,0.5);
        margin-left: 177px;
    margin-top: -35px;
}


.registeralign table tr th{
background:rgb(39	45	1);
padding:5px;
}
.registeralign table tr td{
background: rgb(217, 221, 224);
    padding: 13px;
    }
.registeralign table tr:hover td{

}
.regimg{
 border-style:none;
 border-width:1px;
 height:200px;
 width:200px;
 margin-top:-230px;
 margin-left:900px;
 background: url("{% static 'image13.png' %}");
 background-size: cover;

 }



</style>
<div class="registeralign">
<form method="post" autocomplete="off">

    {% csrf_token %}
<table>

        <tr>
            <td>FEEDBACK</td>
            <td><textarea name="feedback" placeholder="please review and give your feedback" ></textarea></td>
        </tr>
        <tr>
           <td style="text-align:center;" colspan="2"><input type="submit" name="submit" value="submit" ></td>
        </tr>
    </table>


</form>
<div class="regimg"></div>
</div>
{% endblock %}
